* {
  margin: 0;
}

body {
  background: rgb(201, 201, 201);
  font-family: "Hanken Grotesk", sans-serif;
}

/* Header */

.top-header {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.page-title {
  color: rgb(255, 45, 73);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

/* Navigation */

.nav-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}
/* Layout */

.wrapper {
  width: min(100% - 1rem, 80rem);
  margin-inline: auto;
  margin-top: 3rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

/* Card */

.card-prop {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 5px;
  /**/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

/* Search */

.search-container {
  display: block;
  min-height: 10rem;
  background: lightslategray;
}

.search-wrapper {
  width: min(100% - 1rem, 110rem);
  margin-inline: auto;
  padding: 2rem;
}

.country-head-container {
  display: flex;
  justify-content: space-between;
}

.header-prop {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}
