* {
  margin: 0;
}

body {
  background: rgb(201, 201, 201);
  font-family: "Hanken Grotesk", sans-serif;
}

/* Header */

.top-header {
  background: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.page-title {
  color: black;
  text-decoration: none;
}

/* Navigation */

.nav-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}
/* Layout */

.wrapper {
  width: min(100% - 1rem, 110rem);
  margin-inline: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Card */

.card-prop {
  background: white;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  /**/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

/* Search */

.search-container {
  display: none;
  min-height: 10rem;
  background: lightslategray;
}

.search-wrapper {
  display: grid;

  place-content: center;
}

.country-head-container {
  display: flex;
  justify-content: space-between;
}

.header-prop {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}
