* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(99, 118, 115);
  font-family: "Hanken Grotesk", sans-serif;
}

/* Header */

.top-header {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.page-title {
  color: rgb(255, 45, 73);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

/* Navigation */

.nav-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}
/* Layout */

.wrapper {
  width: min(100% - 1rem, 80rem);
  margin-inline: auto;
  margin-top: 3rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Card */

.card-prop {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 5px;
  border-bottom: 5px solid transparent;
  /**/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  /**/
  transition: 300ms ease;
}

.card-prop:hover {
  background: rgb(208, 208, 208);
  border-bottom: 5px solid rgb(102, 120, 140);
}

/* Search */

.search-container {
  display: block;
  min-height: 10rem;
  background: rgb(113, 144, 139);
}

.search-wrapper {
  width: min(100% - 1rem, 110rem);
  margin-inline: auto;
  padding: 2rem;
}

.country-head-container {
  display: flex;
  justify-content: space-between;
}

.header-prop {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.card-link {
  text-decoration: none;
  color: black;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  transition: 300ms ease;
}

.card-link:hover {
  color: white;
  background: lightslategray;
}

/* Loader */

.loader-wrapper {
  text-align: center;
}

.loading {
  color: white;
  font-size: 4.5rem;
  animation: loadingspinner 3s infinite;
}

@keyframes loadingspinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* Icons */

.fa-car,
.fa-person,
.fa-wallet {
  font-size: 2.5rem;
}

/* Contact Form */

.form-container {
  background: rgb(255, 255, 255);
  width: min(100% - 5rem, 30rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  padding: 2rem;
  border-radius: 5px;
  gap: 0.5rem;
}

.user-card {
  background: lightblue;
  padding: 1rem;
}

/* Details */

.details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.detail-flag-img {
  width: min(100% - 1rem, 20rem);
}
